<ul>
    <li>
        <label for="">ID :</label>
        <input type="text" class="form-control">
    </li>
    <li>
        <label for="">NAME :</label>
        <input type="text" class="form-control">
    </li>
    <li>
        <label for="">USERNAME :</label>
        <input type="text" class="form-control">
    </li>
    <li>
        <label for="">ADDRESS :</label>
        <textarea name="" id="" cols="30" rows="5" class="form-control"></textarea>
    </li>
    <br>
    <li>
        <button class="btn btn-success">
            UPDATE
        </button>
    </li>
</ul>